#tm_builder_outer_content .tm_pb_module.tm_pb_testimonial .tm_pb_testimonial_description_inner{
	color: $regular_accent_color_3;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_testimonial .tm_pb_testimonial_author{
	font-family:$h1_font_family;
	color: $regular_link_color;
}